# AddHandler x-httpd-php5 .php

RewriteEngine On

<IfModule mod_rewrite.c>
  RewriteCond %{HTTPS} !=on
  RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]
</IfModule>

Options +FollowSymlinks

RewriteRule ^inicio$ index.php [L,NC]
RewriteRule ^home/$ index.php [L,NC]
RewriteRule ^quienes-somos$ quienes-somos.php [L,NC]
RewriteRule ^cercos-perimetrales-electrificados$ cercos-perimetrales-electrificados.php [L,NC]
RewriteRule ^cercos-perimetrales-sensor-microfonico$ cercos-perimetrales-sensor-microfonico.php [L,NC]
RewriteRule ^sistema-antientraderas$ sistema-antientraderas.php [L,NC]
RewriteRule ^sistema-de-alarmas$ sistema-de-alarmas.php [L,NC]
RewriteRule ^camara-de-seguridad$ camara-de-seguridad.php [L,NC]
RewriteRule ^redes-y-telefonia$ redes-y-telefonia.php [L,NC]
RewriteRule ^nice$ nice.php [L,NC]
RewriteRule ^contacto$ contacto.php [L,NC]
RewriteRule ^galeria$ galeria.php [L,NC]
RewriteRule ^galeria/$ galeria.php [L,NC]
RewriteRule ^insumos/$ insumos.php [L,NC]

Redirect 301 /home/ http://grupoimpessa.com/inicio
Redirect 301 /contacto/ http://grupoimpessa.com/contacto
Redirect 301 /tel/ http://grupoimpessa.com/contacto
Redirect 301 /telefonos/ http://grupoimpessa.com/contacto
Redirect 301 /camaras-de-seguridad/ http://grupoimpessa.com/camara-de-seguridad
Redirect 301 /redes-y-telefonia.html/ http://grupoimpessa.com/redes-y-telefonia
Redirect 301 /sistema-de-alarmas.html/ http://grupoimpessa.com/sistema-de-alarmas

Redirect 301 slides/ http://grupoimpessa.com/inicio
Redirect 301 confirmacion-camaras-de-seguridad/ http://grupoimpessa.com/inicio